<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optic.Smartpillbox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PillBOX"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Services.InternetServiceActivity"></activity>
        <activity android:name=".LogIn.ValidarPastilleraActivity" />
        <activity android:name=".LogIn.SelectOpcionRegistrarActivity" />
        <activity android:name=".ServicesOptionActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".listPastilleroActivity" />
        <activity android:name=".RegisterPastilleroActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".LogIn.CredencialesActivity" />
        <activity android:name=".ApoyoActivity" />
        <activity
            android:name=".RegisterUapoyoActivity"
            android:label="@string/title_activity_register_uapoyo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LogIn.RegisterActivity" />
        <activity
            android:name=".SelectOptionAuthActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>